/*whole page stuff*/

body {
    font-family: Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


.recipe-container {
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-areas: 
        "header header header"                  
        "ingredients instructions instructions"
        "ingredients instructions instructions"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.5fr 0.5fr 0.1fr;
    line-height: 1.5;
}

/* header, meta and description styles */

.header {
    grid-area: header;
}

.recipe-header {
    background-image: url('https://tornadoughalli.com/wp-content/uploads/2025/07/CREAM-CHEESE-CHOCOLATE-CHIP-COOKIES-1-480x270.jpg');
    background-size: cover;
    text-align: center;
}

.recipe-title {
    color: #8C0B0B;
    background-color: #FDE7E7;
    border: 1rem solid transparent;
    border-image: url('https://cdn.vectorstock.com/i/500p/78/76/elegant-ornamental-square-frame-vector-59857876.jpg') 200 round repeat;
    font-size: 3rem;
    font: 3rem "Quintessential", serif;
    font-weight: bold;
}

.recipe-meta {
    display: flex; 
    justify-content: space-around;
    font: 1.2rem "Quintessential", serif;
}

.recipe-description {
    background-color: #8C0B0B;
    font-size: 1rem;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
}


.recipe-image {
    width: 50px;
    height: 50px;
    border: 5px double #8C0B0B;
}

/*main content styles */

.ingredients-section {
    grid-area: ingredients;
    background-color: #FDE7E7;
    border: 1rem solid transparent;
    border-image: url('https://cdn.vectorstock.com/i/500p/78/76/elegant-ornamental-square-frame-vector-59857876.jpg') 200 round repeat;
}

.ingredients-list {
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ingredients-list li {
    margin: 2px;
    padding: 1px;
}

.instructions-section {
    grid-area: instructions;
    background-color: white;
    border: 1rem solid transparent;
    border-image: url('https://cdn.vectorstock.com/i/500p/78/76/elegant-ornamental-square-frame-vector-59857876.jpg') 200 round repeat;
}

.instruction-step {
    margin: 3px;
}

.instructions-list {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*footer styles */

.recipe-footer {
    grid-area: footer;
    background-color: #8C0B0B;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*other stuff */

* {
    margin: 2px;
    padding: 1px;
}

h2 {
    font: 2rem "Quintessential", serif;
    font-weight: bold;
    color: #8C0B0B;
}

/*media responsiveness */
@media (max-width: 48rem) {
  .recipe-container {
    grid-template-areas: 
    "header"
    "ingredients"
    "instructions"
    "footer";
    grid-template-rows:auto;
  }
  
  .ingredients-list {
    flex-direction: column;
  }
  
  .instructions-list {
    max-width: 48rem;/
  }
}