/* Root Variables */
:root {
    --primary-color: #480800;
    --secondary-color: #28251F;
    --accent-color: #7C1009;
}

/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    display: grid;
    /* finish this */
}

/* Header styles */
header {
    text-align: center;
    font-family: "Gabriela", serif;
    color: var(--primary-color);
}

/* Content styles */
.fact-section {
    background-image: url('./assets/mountains.jpg');
    background-size: cover;
}

.small-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.seven {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.large-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.stark {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}

/* Chart styles */

/* Footer styles */
.city-img {
    display: flex;
    justify-content: center;
}