/* Root Variables */
:root {
    --primary-color: #480800;
    --secondary-color: #28251F;
    --accent-color: #7C1009;
}

/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    display: grid;
    grid-template-areas: 
        "header header header"
        "image image image"
        "content content content"
        "chart chart chart"
        "footer footer footer";
}

/* Header styles */
header {
    text-align: center;
    font-family: "Gabriela", serif;
    color: white;
    grid-area: header;
    background-color: var(--primary-color);
    padding: 1rem;
    border: 1rem solid transparent;
    border-image: url('./assets/targaryen\ sigil.png') 300 repeat;
}

.dragon-side {
    grid-area: image;
    margin: auto;
}

/* Content styles */
.fact-section {
    background-image: url('./assets/mountains.jpg');
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.small-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.seven {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.large-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.stark {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}

.large-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.daenerys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}


/* Chart styles */
.display-container {
    grid-area: chart;
}

.battle-title {
    padding: 1rem;
}

/* Footer styles */
.city-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    grid-area: footer;
}

h2 {
    font-family: "Gabriela", serif;
}
